<div class="section-container">
	<div class="row">
        <h1><strong>Thank You</strong></h1>
        <h1>You've been subscribed to our list</h1>
        <h2><a class="" href="/jobs">Latest Remote Jobs →</a></h2>
    </div>
</div>